@font-face {
  font-family: "the_bold_font";
  src: url("/fonts/the_bold_font/theboldfont.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "the_bold_font";
  src: url("/fonts/the_bold_font/theboldfont.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}


* {
  box-sizing: border-box;
}
